body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.logo .halflogo {
  color: #2e2f42;
}

.link {
  text-decoration: none;
}

.page-nav {
  list-style-type: none;
  font-weight: 500;
}

.page-nav .link {
  color: #2e2f42;
}

.page-nav .link:hover,
.page-nav .link:focus,
.page-nav .link:active {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts .contacts-list {
  list-style-type: none;
}

.contacts .contacts-list .link {
  color: #434455;
  font-style: normal;
}

.contacts .contacts-list .link:hover,
.contacts .contacts-list .link:focus {
  color: #404bbf;
}

.first-section {
  background-color: #2e2f42;
  text-align: center;
}

.first-section .page-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.first-section .button {
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  cursor: pointer;
  line-height: 1.5;
}

.first-section .button:hover,
.first-section .button:focus {
  background-color: #404bbf;
}

.section-title-about {
  visibility: hidden;
}

.adv-list {
  list-style-type: none;
}

.third-section {
  background-color: #f4f4fd;
}

.section-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  list-style-type: none;
  text-align: center;
}

.third-section .team-list .team-member {
  background-color: #ffffff;
}

.portfolio-list {
  list-style-type: none;
}

.lower-part {
  background-color: #2e2f42;
}

.logo .halflogo-white {
  color: #f4f4fd;
}

.advice {
  color: #f4f4fd;
}

.lower-header {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
